.column1{
    float: left;
    width: 20%;
    background: aqua;
    position: absolute;
    height: 100%;

}

.column2 {
    float: right;
    width: 80%;
    background: lightcoral;
    position: absolute;
    right: 0;
    height: 100%;
}

.container {
    
}

body {
    margin: 0;
}