div + p{
    font-size: 24px;
    color: orange;
    background-color: yellow;
    
}

a{
    color: green;font-size: 45;
    font-size: 100px;
    font-weight: bold;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
    color: purple;

}

a:visited{
    text-decoration: underline;

}

table{
    border: green 3px dotted;

}

td{
    border: black 1px solid;

}

img{
    border-radius: 50%;
}

#myDiv{
    background-color: red;
}

.myClassName{
    color: blue;
    background-color: lightblue;

}

.myFont{
    text-align: center;
}